<h1> Places I've Been </h1>

  <% for place in @places %>
    <h3>
        <a href = "/places/<%= place["id"]%>"> <%= place["name"]%> </a>
    </h3>
  <% end %>

<p> <%= "--" %> </p>

<h4>
    <b> <a href = "/places/new"> New Place </a> </b>
</h4>