<h1> New Place </h1>

<%= form_with :model => @place do |form| %>
    <h3>
        <%= form.label "name", "Place" %>
        <%= form.text_field "name" %>
    </h3>
        <%= form.submit %>
<% end %>

<h4>
    <b> <a href = "/places"> Back to all Places </a> </b>
</h4>